main {
	background-color: #006347;
	padding: 37px 0 168px 0;
	margin-bottom: 90px;
}
// header
.header {
	margin-bottom: 240px;
	.header_logo {
		gap: 33px;
	}
	.fade_block {
		display: none;
	}
	.header_phone {
		gap: 7px;
	}
	.header_top {
		margin-bottom: 37px;
	}
	.nice-select {
		padding: 0px 21px;
		height: unset;
		width: 250px;
		box-sizing: border-box;
		border: 1px solid rgb(7, 97, 69);
		border-radius: 57.7px;
		background: rgb(255, 255, 255);
	}
	.nice-select {
		border: 1px solid rgb(7, 97, 69);
		border-radius: 57px;
		background: rgb(255, 255, 255);
		&:after {
			border: none;
			content: "";
			height: 6px;
			margin-top: -4px;
			right: 18px;
			top: 50%;
			width: 8px;
			transform: unset;
			transform-origin: 0;
			background: url(../images/icons/select_arrow.svg);
		}
		&.open {
			&::after {
				transform: rotateX(-180deg);
			}
			border-radius: 20px 20px 0 0;
		}
		.current {
			color: rgb(0, 0, 0);
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
		}
		.option {
			color: rgb(0, 0, 0);
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			text-decoration-line: underline;
			display: flex;
			align-items: center;
			&.selected {
				display: none;
			}
		}
		.list {
			padding: 5px 0;
			margin-top: 0;
			border-radius: 0 0 20px 20px;
		}
	}
	.header_phone {
		a {
			color: rgb(255, 255, 255);
			font-size: 32px;
			font-weight: 700;
			line-height: 39px;
			text-transform: uppercase;
		}
	}
	.line {
		background: rgb(225, 232, 233);
		height: 1px;
		margin-bottom: 25px;
		margin-left: auto;
		width: 94%;
		transition: width 0.5s ease-in-out;
	}
	.header_menus {
		a {
			color: rgb(255, 255, 255);
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			text-transform: uppercase;
		}
		.line {
			position: absolute;
			height: 2px;
			background-color: blue; /* O'zingiz tanlagan rangni ishlatishingiz mumkin */
			transition: width 0.3s ease; /* Animatsiyani yo'lga qo'ymoq uchun */
		}
		.header_menus {
			position: relative;
			padding-bottom: 10px; /* Line-ni pastga joylash uchun */
		}
		.header_menus li {
			display: inline-block;
			margin-right: 20px;
		}
	}
}

// hero
.hero {
	padding-bottom: 160px;
	.hero_logo {
		margin-bottom: 30px;
	}
	.hero_desc {
		color: rgb(255, 255, 255);
		font-size: 32px;
		font-weight: 300;
		line-height: 39px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 120px;
	}
	.hero_bottom_img {
		display: block;
		text-align: center;
		cursor: pointer;
	}
}

// description
.description {
	.proektor_block {
		border-radius: 30px;
		background: rgb(231, 233, 232);
		padding: 38px 120px 0 95px;
		max-height: 410px;
		margin-bottom: 100px;
		overflow: hidden;
		user-select: none;
	}

	.proektor_slide_img {
		position: relative;
	}
	.proektor_swiper {
		width: 100%;
		height: 400px;
	}
	.swiper-slide {
		width: 100%;
	}
	.swiper_name {
		color: rgb(0, 0, 0);
		font-size: 42px;
		font-weight: 700;
		line-height: 51px;
		text-transform: uppercase;
		margin-bottom: 13px;
	}
	.swiper_desc {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		text-transform: uppercase;
		margin-bottom: 63px;
	}
	.swiper-pagination-vertical.swiper-pagination-bullets {
		position: absolute;
		right: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;
		margin-left: -15px;
	}
	.swiper-pagination-bullet {
		border: 1px solid rgb(0, 99, 71);
		opacity: 1;
		background-color: transparent;
		width: 16px;
		height: 16px;
		border-radius: 50%;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
		border: 1px solid rgb(0, 99, 71);
		background: rgb(0, 99, 71);
	}
	.tab_top {
		gap: 100px;
		border-bottom: 1px solid rgb(225, 232, 233);
		margin-bottom: 60px;
	}
	.tab_navs .tab_navigation {
		display: flex;
		gap: 23px;
		margin-bottom: 35px;
		li {
			a {
				color: rgb(135, 135, 135);
				font-size: 28px;
				font-weight: 700;
				line-height: 34px;
				text-transform: uppercase;
			}
			&.active {
				a {
					color: rgb(0, 99, 71);
				}
			}
		}
	}
	.tab_content {
		display: none;
	}
	.tab_desc {
		color: rgb(0, 0, 0);
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 45px;
	}

	.tab_ul_item {
		display: flex;
		list-style: disc;
		flex-direction: column;
		li {
			color: rgb(0, 0, 0);
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
		}
	}
	.tab_desc_item {
		display: none;
	}
	.tab_content_name {
		color: rgb(0, 0, 0);
		font-size: 28px;
		font-weight: 700;
		line-height: 34px;
		text-transform: uppercase;
		margin-bottom: 35px;
	}
	.content_desc_block {
		gap: 18px;

		p {
			color: rgb(0, 0, 0);
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
		}
	}
	.show_all {
		margin-top: 115px;
		color: rgb(0, 99, 71);
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		text-decoration-line: underline;
		text-transform: uppercase;
		padding-bottom: 13px;
		display: block;
		border-bottom: 1px solid rgb(225, 232, 233);
	}
	.tab_content:last-child {
		margin-bottom: 70px;
	}
}

// partner
.partner {
	padding: 133px 0;
	background: rgb(231, 233, 232);
	.partner_block {
		position: relative;
	}
	.partner_logo {
		text-align: center;
		margin-bottom: 70px;
		img {
			width: 98%;
			margin: 0 auto;
		}
	}
	.partner_title {
		color: rgb(0, 0, 0);
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		max-width: 760px;
		margin-bottom: 15px;
	}
	.partner_desc {
		max-width: 760px;
		color: rgb(0, 0, 0);
		font-size: 20px;
		font-weight: 400;
		line-height: 24px;
		max-width: 760px;
	}
	.lighter_img {
		position: absolute;
		right: 0;
		z-index: 4;
		top: -125px;
	}
}

// faq
.faq {
	padding: 130px 0;
	.faq_title {
		color: rgb(0, 0, 0);
		font-size: 28px;
		font-weight: 700;
		line-height: 34px;
		text-transform: uppercase;
		margin-bottom: 70px;
	}
	.faq_block {
		gap: 15px;
	}
	.faq_block_item {
		flex: 1;
	}
	.faq_item {
		flex: 1;
		padding: 20px 0;
	}
	.faq_top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgb(225, 232, 233);
		padding-bottom: 10px;
		&.active {
			padding-bottom: 0;
			border: none;
		}
	}
	.faq_name {
		color: rgb(0, 0, 0);
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		text-transform: uppercase;
	}
	.faq_arrow {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: rgb(7, 97, 69);
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		border-radius: 10px;
		background: rgb(225, 232, 233);
		width: 39px;
		height: 39px;
		user-select: none;
		transition: all ease-in 0.2s;
		&:hover {
			background-color: #076145;
			span {
				color: #fff;
			}
		}
		cursor: pointer;
		span {
			transition: all ease-in 0.2s;
			&:last-child {
				display: none;
			}
		}
		&.active {
			border-radius: 10px 10px 0px 0px;
			span:first-child {
				display: none;
			}
			span:last-child {
				display: block;
			}
		}
	}
	.faq_body {
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		padding: 18px 18px 50px 18px;
		border-radius: 10px 0px 10px 10px;
		background: rgb(225, 232, 233);
		a {
			color: #076145;
			text-decoration: underline;
		}
	}
}

// contact
.contact {
	padding: 0 0 130px 0;
	.contact_block {
		gap: 30px;
		padding-top: 130px;
		border-top: 1px solid rgb(225, 232, 233);
	}
	.contact_title {
		color: rgb(0, 0, 0);
		font-size: 28px;
		font-weight: 700;
		line-height: 34px;
		text-transform: uppercase;
		margin-bottom: 35px;
	}
	.contact_details_block {
		gap: 40px;
		margin-bottom: 50px;
	}
	.contact_details_item {
		display: flex;
		gap: 12px;
	}
	.detail_name {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		text-transform: uppercase;
		margin-bottom: 12px;
	}
	.detail_text {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		a {
			color: rgb(0, 0, 0);
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
		}
	}
	.social_block {
		padding: 20px;
		border-radius: 10px;
		background: rgb(225, 232, 233);
	}
	.social_name {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		text-transform: uppercase;
	}
	.social_icons {
		gap: 7px;
	}
}

// footer
footer {
	.footer_top {
		padding-bottom: 35px;
		margin-bottom: 25px;
		border-bottom: 3px solid #006347;
	}
	.footer_position {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		text-transform: uppercase;
	}
	.footer_bottom_title {
		color: rgb(0, 0, 0);
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		text-transform: uppercase;
	}
	.footer_tel {
		gap: 6px;
	}
	.footer_bottom {
		margin-bottom: 67px;
	}
}

// modal
.modal {
	.modal-dialog {
		max-width: 610px;
	}
	.modal-content {
		border-radius: 30px;
		background: rgb(231, 233, 232);
		padding: 85px 95px;
	}
	.modal_title {
		color: rgb(0, 0, 0);
		font-size: 42px;
		font-weight: 700;
		line-height: 51px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.modal_desc {
		color: rgb(0, 0, 0);
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		max-width: 450px;
		margin: 0 auto 35px auto;
		text-align: center;
	}
	.modal_form {
		gap: 30px;
		button {
			padding: 15px 40px;
			border-radius: 86.9px;
			color: rgb(255, 255, 255);
			font-size: 17.38px;
			font-weight: 700;
			line-height: 21px;
			text-transform: uppercase;
			background: rgb(0, 99, 71);
			border: none;
		}
	}
	.input_block {
		gap: 5px;
		input {
			width: 100%;
			outline: none;
			border-radius: 86.9px;
			height: 60px;
			padding-left: 30px;
			color: rgb(120, 113, 113);
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			background: rgb(255, 255, 255);
			border: none;
			&::placeholder {
				color: rgb(179, 179, 179);
				font-size: 16px;
			}
		}
	}
	.form_rule {
		color: rgb(126, 126, 126);
		font-size: 12px;
		font-weight: 400;
		line-height: 15px;
		text-align: center;
	}
	.btn-close {
		position: absolute;
		top: 21px;
		z-index: 4;
		right: 21px;
	}
	.btn-close:focus {
		outline: 0;
		box-shadow: unset;
		opacity: 1;
	}
}
