.container {
	max-width: 1205px;
	margin: 0 auto;
	padding: 0;
}

@media (max-width: 1260px) {
	.container {
		max-width: 960px;
	}
	.hero_logo {
		text-align: center;
		img {
			max-width: 900px;
		}
	}
	.contact .contact_block {
		flex-direction: column;
		align-items: center;
	}
	.contact {
		padding: 0 0 100px 0;
	}
	.partner_logo {
		img {
			max-width: 800px;
			margin: 0 auto;
		}
	}
	.partner .lighter_img {
		position: static;
		margin-bottom: 20px;
		img {
			width: 200px;
		}
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.description .proektor_swiper {
		display: none;
	}

	.partner_logo img {
		max-width: 600px;
	}
	.faq .faq_name {
		font-size: 15px;
	}
	.faq .faq_body {
		padding: 18px 18px 30px 18px;
	}
	.faq .faq_title {
		font-size: 23px;
		margin-bottom: 25px;
	}
	.faq {
		padding: 70px 0;
	}
	.partner {
		padding: 90px 0;
		margin-bottom: 0px;
	}
	.description .tab_top {
		gap: 30px;
		flex-direction: column;
	}
	.description .tab_content_name {
		font-size: 28px;
		text-align: center;
		margin-bottom: 0px;
	}
	.more_img {
		img {
			width: 400px;
		}
	}
	.tab_items {
		flex-direction: column;
	}
	.description .show_all {
		border: none;
		margin-top: 60px;
	}
	.description .tab_top {
		border: none;
	}
	.description .tab_navs .tab_navigation li a {
		font-size: 22px;
	}
	.description .tab_navs .tab_navigation {
		margin-bottom: 10px;
	}
	.description .tab_desc {
		margin-bottom: 25px;
	}
	.description .tab_top {
		margin-bottom: 25px;
	}
	.pro_name {
		color: rgb(0, 0, 0);
		font-size: 22px;
		font-weight: 700;
		line-height: 27px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 6px;
	}
	.description .proektor_block {
		padding: 60px 50px 30px 50px;
		margin-bottom: 50px;
		max-height: 480px;
	}
	.header .line {
		display: none;
	}
	.description .swiper-pagination-vertical.swiper-pagination-bullets {
		top: unset;
		right: 0;
		flex-direction: row;
		justify-content: center;
		bottom: 30px;
	}
	.pro_desc {
		color: rgb(0, 0, 0);
		font-size: 12px;
		font-weight: 600;
		line-height: 15px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 32px;
	}
	.pro_btn {
		padding: 14px 40px;
		color: rgb(255, 255, 255);
		font-size: 17.38px;
		font-weight: 700;
		line-height: 21px;
		text-transform: uppercase;
		border-radius: 86.9px;
		background: rgb(0, 99, 71);
		margin: 0 auto;
	}
	.pro_button {
		text-align: center;
		transform: translate(0, -3px);
		margin-bottom: 15px;
	}
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		justify-content: center;
	}
	.proektor_img {
		text-align: center;
	}
	.header {
		margin-bottom: 200px;
	}
	.hero_logo img {
		max-width: 600px;
	}
	.hero .hero_desc {
		font-size: 22px;
		margin-bottom: 90px;
	}
	main {
		padding: 37px 0 70px 0;
	}
	header .header_menus {
		position: fixed;
		top: 0;
		left: -100%;
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 100%;
		background: #fff;
		height: 100vh;
		padding-top: 100px;
		z-index: 4;
		transition: all ease-in-out 0.2s;
		&.active {
			left: 0;
		}
	}
	.header .header_menus a {
		color: #000;
	}
	.close {
		position: absolute;
		top: 20px;
		right: 25px;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.modal .modal-dialog {
		max-width: 95%;
		margin-top: 30px;
	}
	.modal .modal-content {
		padding: 60px 25px;
	}
	.hero .hero_logo {
		margin-bottom: 10px;
		img {
			max-width: 400px;
		}
	}
	.modal .modal_title {
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
	}
	.modal .modal_desc {
		margin: 0 auto 20px auto;
		font-size: 10px;
		line-height: 12px;
	}
	footer .footer_bottom {
		margin-bottom: 67px;
		flex-wrap: wrap;
		gap: 20px;
	}
	.modal .btn-close {
		top: 25px;
		right: 0;
		left: 0;
		margin: auto;
		background-size: 16px;
		padding: 0;
		background-size: auto;
		background-image: url(../images/icons/modal_close.png);
	}
	.modal .input_block input {
		height: 60px;
		border-radius: 57.7px;
		padding-left: 30px;
		font-size: 16px;
		font-size: 10.62px;
		font-weight: 400;
		line-height: 13px;
		height: 40px;
		text-align: center;
		padding-left: 0;
		&::placeholder {
			font-size: 10.62px;
			line-height: 13px;
			text-align: center;
		}
	}
	footer .footer_position {
		display: none;
	}
	.faq .faq_block {
		flex-direction: column;
		gap: 0;
	}
	.faq .faq_item {
		padding: 10px 0;
	}
	.faq .faq_title {
		font-size: 20px;
		margin-bottom: 25px;
	}
	.contact .contact_block {
		border: none;
		padding-top: 10px;
	}
	.faq {
		padding: 70px 0;
		border: none;
	}
	.header .header_phone a {
		font-size: 20px;
	}
}
@media (max-width: 576px) {
	.container {
		max-width: 100%;
		padding: 0 15px;
	}
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		justify-content: center;
		position: absolute;
	}
	.contact .contact_title {
		text-align: center;
		font-size: 22px;
		line-height: 27px;
	}
	.contact .contact_details_item {
		gap: 9px;
		flex-direction: column;
		align-items: center;
	}
	footer .footer_top {
		padding-bottom: 17px;
		margin-bottom: 55px;
	}
	.footer_logo {
		width: 100%;
		a {
			text-align: center;
			display: block;
		}
	}
	.detail_texts {
		text-align: center;
	}
	footer .footer_bottom_title {
		width: 100%;
		text-align: center;
		justify-content: center;
	}
	footer .footer_tel {
		order: -1;
	}
	footer .footer_mobile_rule {
		order: -2;
	}
	.tab_left_img {
		text-align: center;
		img {
			width: 70%;
		}
	}
	.description .tab_top {
		padding-bottom: 55px;
		gap: 0;
		border-bottom: 1px solid rgb(225, 232, 233);
	}
	header .header_menus {
		gap: 20px;
		justify-content: start !important;
	}
	footer .footer_bottom {
		margin-bottom: 70px;
		gap: 25px;
	}
	.contact .detail_name {
		font-size: 12px;
		line-height: 15px;
	}
	.contact .detail_text,
	.contact .detail_text a {
		font-size: 12px;
		line-height: 15px;
	}
	.contact .social_block {
		padding: 30px;
		flex-direction: column;
		gap: 20px;
	}
	.contact {
		padding: 0 0 65px 0;
	}

	.contact_details {
		width: 100%;
	}
	.contact .contact_details_block {
		gap: 20px;
	}
	.more_img img {
		width: 315px;
	}
	.description .tab_content:last-child {
		margin-bottom: 20px;
	}
	.proektor_mobile_swiper {
		text-align: center;
	}
	.pro_btn {
		transform: translate(0px, -3px);
	}
	.description .tab_ul_item {
		list-style-position: inside;
	}
	.description .tab_ul_item li {
		font-size: 16px;
	}
	.pro_item {
		margin-bottom: 60px;
	}
	.description .tab_navs .tab_navigation {
		display: none;
	}
	.main_btn {
		text-align: center;
	}
	.description .tab_content_name {
		font-size: 22px;
		line-height: 27px;
		text-align: start;
	}
	.description .show_all {
		margin-top: 30px;
	}
	.partner .partner_logo {
		margin-bottom: 0px;
	}
	.partner .lighter_img {
		position: static;
		text-align: end;
		transform: translate(0px, -10px);
		margin-bottom: 10px;
		img {
			width: 160px;
		}
	}
	.partner {
		padding: 133px 0 100px 0;
	}
	.faq {
		padding: 60px 0;
	}
	.faq .faq_title {
		font-size: 22px;
		line-height: 27px;
		margin-bottom: 20px;
	}
	.faq .faq_name {
		font-size: 12px;
	}
	.header .header_phone a {
		font-size: 15px;
	}
	.header .header_logo {
		gap: 7px;
		a:first-child {
			img {
				width: 20px;
			}
		}
		a:last-child {
			img {
				width: 100px;
			}
		}
	}
	.hero .hero_logo img {
		max-width: 280px;
	}
	.hero .hero_desc {
		margin-bottom: 40px;
		font-size: 10px;
		font-weight: 300;
		line-height: 12px;
	}
	.hero {
		padding-bottom: 0;
	}
	.hero .hero_bottom_img {
		img {
			width: 25px;
		}
	}
	main {
		padding: 13px 0 118px 0;
		margin-bottom: 45px;
	}

	.header .header_top {
		margin-bottom: 0px;
		padding-bottom: 13px;
		border-bottom: 1px solid rgb(225, 232, 233);
	}
	.header {
		margin-bottom: 100px;
	}
}
