main {
  background-color: #006347;
  padding: 37px 0 168px 0;
  margin-bottom: 90px;
}

.header {
  margin-bottom: 240px;
}
.header .header_logo {
  gap: 33px;
}
.header .fade_block {
  display: none;
}
.header .header_phone {
  gap: 7px;
}
.header .header_top {
  margin-bottom: 37px;
}
.header .header_phone a {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}
.header .line {
  background: rgb(225, 232, 233);
  height: 1px;
  margin-bottom: 25px;
  margin-left: auto;
  width: 94%;
  transition: width 0.5s ease-in-out;
}
.header .header_menus a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}
.header .header_menus .line {
  position: absolute;
  height: 2px;
  background-color: blue; /* O'zingiz tanlagan rangni ishlatishingiz mumkin */
  transition: width 0.3s ease; /* Animatsiyani yo'lga qo'ymoq uchun */
}
.header .header_menus .header_menus {
  position: relative;
  padding-bottom: 10px; /* Line-ni pastga joylash uchun */
}
.header .header_menus .header_menus li {
  display: inline-block;
  margin-right: 20px;
}

.hero {
  padding-bottom: 160px;
}
.hero .hero_logo {
  margin-bottom: 30px;
}
.hero .hero_desc {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 300;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 120px;
}
.hero .hero_bottom_img {
  display: block;
  text-align: center;
  cursor: pointer;
}

.description .proektor_block {
  border-radius: 30px;
  background: rgb(231, 233, 232);
  padding: 38px 120px 0 95px;
  max-height: 410px;
  margin-bottom: 100px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.description .proektor_slide_img {
  position: relative;
}
.description .proektor_swiper {
  width: 100%;
  height: 400px;
}
.description .swiper-slide {
  width: 100%;
}
.description .swiper_name {
  color: rgb(0, 0, 0);
  font-size: 42px;
  font-weight: 700;
  line-height: 51px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.description .swiper_desc {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 63px;
}
.description .swiper-pagination-vertical.swiper-pagination-bullets {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-left: -15px;
}
.description .swiper-pagination-bullet {
  border: 1px solid rgb(0, 99, 71);
  opacity: 1;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.description .swiper-pagination-bullet-active {
  opacity: 1;
  border: 1px solid rgb(0, 99, 71);
  background: rgb(0, 99, 71);
}
.description .tab_top {
  gap: 100px;
  border-bottom: 1px solid rgb(225, 232, 233);
  margin-bottom: 60px;
}
.description .tab_navs .tab_navigation {
  display: flex;
  gap: 23px;
  margin-bottom: 35px;
}
.description .tab_navs .tab_navigation li a {
  color: rgb(135, 135, 135);
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
}
.description .tab_navs .tab_navigation li.active a {
  color: rgb(0, 99, 71);
}
.description .tab_content {
  display: none;
}
.description .tab_desc {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 45px;
}
.description .tab_ul_item {
  display: flex;
  list-style: disc;
  flex-direction: column;
}
.description .tab_ul_item li {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.description .tab_desc_item {
  display: none;
}
.description .tab_content_name {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.description .content_desc_block {
  gap: 18px;
}
.description .content_desc_block p {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.description .show_all {
  margin-top: 115px;
  color: rgb(0, 99, 71);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding-bottom: 13px;
  display: block;
  border-bottom: 1px solid rgb(225, 232, 233);
}
.description .tab_content:last-child {
  margin-bottom: 70px;
}

.partner {
  padding: 133px 0;
  background: rgb(231, 233, 232);
}
.partner .partner_block {
  position: relative;
}
.partner .partner_logo {
  text-align: center;
  margin-bottom: 70px;
}
.partner .partner_logo img {
  width: 98%;
  margin: 0 auto;
}
.partner .partner_title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  max-width: 760px;
  margin-bottom: 15px;
}
.partner .partner_desc {
  max-width: 760px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  max-width: 760px;
}
.partner .lighter_img {
  position: absolute;
  right: 0;
  z-index: 4;
  top: -125px;
}

.faq {
  padding: 130px 0;
}
.faq .faq_title {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.faq .faq_block {
  gap: 15px;
}
.faq .faq_block_item {
  flex: 1;
}
.faq .faq_item {
  flex: 1;
  padding: 20px 0;
}
.faq .faq_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(225, 232, 233);
  padding-bottom: 10px;
}
.faq .faq_top.active {
  padding-bottom: 0;
  border: none;
}
.faq .faq_name {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}
.faq .faq_arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(7, 97, 69);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 10px;
  background: rgb(225, 232, 233);
  width: 39px;
  height: 39px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all ease-in 0.2s;
  cursor: pointer;
}
.faq .faq_arrow:hover {
  background-color: #076145;
}
.faq .faq_arrow:hover span {
  color: #fff;
}
.faq .faq_arrow span {
  transition: all ease-in 0.2s;
}
.faq .faq_arrow span:last-child {
  display: none;
}
.faq .faq_arrow.active {
  border-radius: 10px 10px 0px 0px;
}
.faq .faq_arrow.active span:first-child {
  display: none;
}
.faq .faq_arrow.active span:last-child {
  display: block;
}
.faq .faq_body {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 18px 18px 50px 18px;
  border-radius: 10px 0px 10px 10px;
  background: rgb(225, 232, 233);
}
.faq .faq_body a {
  color: #076145;
  text-decoration: underline;
}

.contact {
  padding: 0 0 130px 0;
}
.contact .contact_block {
  gap: 30px;
  padding-top: 130px;
  border-top: 1px solid rgb(225, 232, 233);
}
.contact .contact_title {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.contact .contact_details_block {
  gap: 40px;
  margin-bottom: 50px;
}
.contact .contact_details_item {
  display: flex;
  gap: 12px;
}
.contact .detail_name {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.contact .detail_text {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.contact .detail_text a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.contact .social_block {
  padding: 20px;
  border-radius: 10px;
  background: rgb(225, 232, 233);
}
.contact .social_name {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}
.contact .social_icons {
  gap: 7px;
}

footer .footer_top {
  padding-bottom: 35px;
  margin-bottom: 25px;
  border-bottom: 3px solid #006347;
}
footer .footer_position {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}
footer .footer_bottom_title {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}
footer .footer_tel {
  gap: 6px;
}
footer .footer_bottom {
  margin-bottom: 67px;
}

.modal .modal-dialog {
  max-width: 610px;
}
.modal .modal-content {
  border-radius: 30px;
  background: rgb(231, 233, 232);
  padding: 85px 95px;
}
.modal .modal_title {
  color: rgb(0, 0, 0);
  font-size: 42px;
  font-weight: 700;
  line-height: 51px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.modal .modal_desc {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  max-width: 450px;
  margin: 0 auto 35px auto;
  text-align: center;
}
.modal .modal_form {
  gap: 30px;
}
.modal .modal_form button {
  padding: 15px 40px;
  border-radius: 86.9px;
  color: rgb(255, 255, 255);
  font-size: 17.38px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  background: rgb(0, 99, 71);
  border: none;
}
.modal .input_block {
  gap: 5px;
}
.modal .input_block input {
  width: 100%;
  outline: none;
  border-radius: 86.9px;
  height: 60px;
  padding-left: 30px;
  color: rgb(120, 113, 113);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background: rgb(255, 255, 255);
  border: none;
}
.modal .input_block input::-moz-placeholder {
  color: rgb(179, 179, 179);
  font-size: 16px;
}
.modal .input_block input::placeholder {
  color: rgb(179, 179, 179);
  font-size: 16px;
}
.modal .form_rule {
  color: rgb(126, 126, 126);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}
.modal .btn-close {
  position: absolute;
  top: 21px;
  z-index: 4;
  right: 21px;
}
.modal .btn-close:focus {
  outline: 0;
  box-shadow: unset;
  opacity: 1;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: " ";
  content: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

ul {
  list-style: none;
}

html::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #866f6c;
  width: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
}

.main_btn a {
  padding: 14px 40px;
  color: rgb(255, 255, 255);
  font-size: 17.38px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  border-radius: 86.9px;
  background: rgb(0, 99, 71);
}

.custom-select {
  position: relative;
  margin-bottom: 20px;
  transform: translate(0px, -10px);
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgb(254, 254, 255);
  color: #000;
  text-align: center;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 6px;
  background-position: center;
  background: url(../images/icons/select_arrow.svg) no-repeat;
  background-size: cover;
  transition: all ease-in-out 0.2s;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.select-items div {
  padding: 15px 15px;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
}

.select-selected {
  color: rgb(0, 99, 71);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 18px 0;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 7px 0;
  background: #fff;
  padding-bottom: 15px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1205px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1260px) {
  .container {
    max-width: 960px;
  }
  .hero_logo {
    text-align: center;
  }
  .hero_logo img {
    max-width: 900px;
  }
  .contact .contact_block {
    flex-direction: column;
    align-items: center;
  }
  .contact {
    padding: 0 0 100px 0;
  }
  .partner_logo img {
    max-width: 800px;
    margin: 0 auto;
  }
  .partner .lighter_img {
    position: static;
    margin-bottom: 20px;
  }
  .partner .lighter_img img {
    width: 200px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .description .proektor_swiper {
    display: none;
  }
  .partner_logo img {
    max-width: 600px;
  }
  .faq .faq_name {
    font-size: 15px;
  }
  .faq .faq_body {
    padding: 18px 18px 30px 18px;
  }
  .faq .faq_title {
    font-size: 23px;
    margin-bottom: 25px;
  }
  .faq {
    padding: 70px 0;
  }
  .partner {
    padding: 90px 0;
    margin-bottom: 0px;
  }
  .description .tab_top {
    gap: 30px;
    flex-direction: column;
  }
  .description .tab_content_name {
    font-size: 28px;
    text-align: center;
    margin-bottom: 0px;
  }
  .more_img img {
    width: 400px;
  }
  .tab_items {
    flex-direction: column;
  }
  .description .show_all {
    border: none;
    margin-top: 60px;
  }
  .description .tab_top {
    border: none;
  }
  .description .tab_navs .tab_navigation li a {
    font-size: 22px;
  }
  .description .tab_navs .tab_navigation {
    margin-bottom: 10px;
  }
  .description .tab_desc {
    margin-bottom: 25px;
  }
  .description .tab_top {
    margin-bottom: 25px;
  }
  .pro_name {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  .description .proektor_block {
    padding: 60px 50px 30px 50px;
    margin-bottom: 50px;
    max-height: 480px;
  }
  .header .line {
    display: none;
  }
  .description .swiper-pagination-vertical.swiper-pagination-bullets {
    top: unset;
    right: 0;
    flex-direction: row;
    justify-content: center;
    bottom: 30px;
  }
  .pro_desc {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  .pro_btn {
    padding: 14px 40px;
    color: rgb(255, 255, 255);
    font-size: 17.38px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    border-radius: 86.9px;
    background: rgb(0, 99, 71);
    margin: 0 auto;
  }
  .pro_button {
    text-align: center;
    transform: translate(0, -3px);
    margin-bottom: 15px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    justify-content: center;
  }
  .proektor_img {
    text-align: center;
  }
  .header {
    margin-bottom: 200px;
  }
  .hero_logo img {
    max-width: 600px;
  }
  .hero .hero_desc {
    font-size: 22px;
    margin-bottom: 90px;
  }
  main {
    padding: 37px 0 70px 0;
  }
  header .header_menus {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    background: #fff;
    height: 100vh;
    padding-top: 100px;
    z-index: 4;
    transition: all ease-in-out 0.2s;
  }
  header .header_menus.active {
    left: 0;
  }
  .header .header_menus a {
    color: #000;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 25px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .modal .modal-dialog {
    max-width: 95%;
    margin-top: 30px;
  }
  .modal .modal-content {
    padding: 60px 25px;
  }
  .header .fade_block {
    display: block !important;
  }
  .hero .hero_logo {
    margin-bottom: 10px;
  }
  .hero .hero_logo img {
    max-width: 400px;
  }
  .modal .modal_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .modal .modal_desc {
    margin: 0 auto 20px auto;
    font-size: 10px;
    line-height: 12px;
  }
  footer .footer_bottom {
    margin-bottom: 67px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .modal .btn-close {
    top: 25px;
    right: 0;
    left: 0;
    margin: auto;
    background-size: 16px;
    padding: 0;
    background-size: auto;
    background-image: url(../images/icons/modal_close.png);
  }
  .modal .input_block input {
    height: 60px;
    border-radius: 57.7px;
    padding-left: 30px;
    font-size: 16px;
    font-size: 10.62px;
    font-weight: 400;
    line-height: 13px;
    height: 40px;
    text-align: center;
    padding-left: 0;
  }
  .modal .input_block input::-moz-placeholder {
    font-size: 10.62px;
    line-height: 13px;
    text-align: center;
  }
  .modal .input_block input::placeholder {
    font-size: 10.62px;
    line-height: 13px;
    text-align: center;
  }
  footer .footer_position {
    display: none;
  }
  .faq .faq_block {
    flex-direction: column;
    gap: 0;
  }
  .faq .faq_item {
    padding: 10px 0;
  }
  .faq .faq_title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .contact .contact_block {
    border: none;
    padding-top: 10px;
  }
  .faq {
    padding: 70px 0;
    border: none;
  }
  .header .header_phone a {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    justify-content: center;
    position: absolute;
  }
  .contact .contact_title {
    text-align: center;
    font-size: 22px;
    line-height: 27px;
  }
  .contact .contact_details_item {
    gap: 9px;
    flex-direction: column;
    align-items: center;
  }
  footer .footer_top {
    padding-bottom: 17px;
    margin-bottom: 55px;
  }
  .footer_logo {
    width: 100%;
  }
  .footer_logo a {
    text-align: center;
    display: block;
  }
  .detail_texts {
    text-align: center;
  }
  footer .footer_bottom_title {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  footer .footer_tel {
    order: -1;
  }
  footer .footer_mobile_rule {
    order: -2;
  }
  .tab_left_img {
    text-align: center;
  }
  .tab_left_img img {
    width: 70%;
  }
  .description .tab_top {
    padding-bottom: 55px;
    gap: 0;
    border-bottom: 1px solid rgb(225, 232, 233);
  }
  header .header_menus {
    gap: 20px;
    justify-content: start !important;
  }
  footer .footer_bottom {
    margin-bottom: 70px;
    gap: 25px;
  }
  .contact .detail_name {
    font-size: 12px;
    line-height: 15px;
  }
  .contact .detail_text,
  .contact .detail_text a {
    font-size: 12px;
    line-height: 15px;
  }
  .contact .social_block {
    padding: 30px;
    flex-direction: column;
    gap: 20px;
  }
  .contact {
    padding: 0 0 65px 0;
  }
  .contact_details {
    width: 100%;
  }
  .contact .contact_details_block {
    gap: 20px;
  }
  .more_img img {
    width: 315px;
  }
  .description .tab_content:last-child {
    margin-bottom: 20px;
  }
  .proektor_mobile_swiper {
    text-align: center;
  }
  .pro_btn {
    transform: translate(0px, -3px);
  }
  .description .tab_ul_item {
    list-style-position: inside;
  }
  .description .tab_ul_item li {
    font-size: 16px;
  }
  .pro_item {
    margin-bottom: 60px;
  }
  .description .tab_navs .tab_navigation {
    display: none;
  }
  .main_btn {
    text-align: center;
  }
  .description .tab_content_name {
    font-size: 22px;
    line-height: 27px;
    text-align: start;
  }
  .description .show_all {
    margin-top: 30px;
  }
  .partner .partner_logo {
    margin-bottom: 0px;
  }
  .partner .lighter_img {
    position: static;
    text-align: end;
    transform: translate(0px, -10px);
    margin-bottom: 10px;
  }
  .partner .lighter_img img {
    width: 160px;
  }
  .partner {
    padding: 133px 0 100px 0;
  }
  .faq {
    padding: 60px 0;
  }
  .faq .faq_title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 20px;
  }
  .faq .faq_name {
    font-size: 12px;
  }
  .header .header_phone a {
    font-size: 15px;
  }
  .header .header_logo {
    gap: 7px;
  }
  .header .header_logo a:first-child img {
    width: 20px;
  }
  .header .header_logo a:last-child img {
    width: 100px;
  }
  .hero .hero_logo img {
    max-width: 280px;
  }
  .hero .hero_desc {
    margin-bottom: 40px;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
  }
  .hero {
    padding-bottom: 0;
  }
  .hero .hero_bottom_img img {
    width: 25px;
  }
  main {
    padding: 13px 0 118px 0;
    margin-bottom: 45px;
  }
  .header .header_top {
    margin-bottom: 0px;
    padding-bottom: 13px;
    border-bottom: 1px solid rgb(225, 232, 233);
  }
  .header {
    margin-bottom: 100px;
  }
}