main {
  background-color: #006347;
  padding: 37px 0 168px 0;
  margin-bottom: 90px;
}

.header {
  margin-bottom: 240px;
}
.header .header_logo {
  gap: 33px;
}
.header .header_phone {
  gap: 7px;
}
.header .header_top {
  margin-bottom: 37px;
}
.header .header_phone a {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}
.header .line {
  background: rgb(225, 232, 233);
  height: 1px;
  margin-bottom: 25px;
  margin-left: auto;
  width: 94%;
  transition: width 0.5s ease-in-out;
}
.header .header_menus a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}
.header .header_menus .line {
  position: absolute;
  height: 2px;
  background-color: blue; /* O'zingiz tanlagan rangni ishlatishingiz mumkin */
  transition: width 0.3s ease; /* Animatsiyani yo'lga qo'ymoq uchun */
}
.header .header_menus .header_menus {
  position: relative;
  padding-bottom: 10px; /* Line-ni pastga joylash uchun */
}
.header .header_menus .header_menus li {
  display: inline-block;
  margin-right: 20px;
}

.hero {
  padding-bottom: 160px;
}
.hero .hero_logo {
  margin-bottom: 30px;
}
.hero .hero_desc {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 300;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 120px;
}
.hero .hero_bottom_img {
  display: block;
  text-align: center;
  cursor: pointer;
}

.description .proektor_block {
  border-radius: 30px;
  background: rgb(231, 233, 232);
  padding: 38px 120px 0 95px;
  max-height: 410px;
  margin-bottom: 100px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.description .proektor_slide_img {
  position: relative;
}
.description .proektor_swiper {
  width: 100%;
  height: 400px;
}
.description .swiper-slide {
  width: 100%;
}
.description .swiper_name {
  color: rgb(0, 0, 0);
  font-size: 42px;
  font-weight: 700;
  line-height: 51px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.description .swiper_desc {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 63px;
}
.description .swiper-pagination-vertical.swiper-pagination-bullets {
  position: absolute;
  right: 15px;
  display: flex;
  flex-direction: column;
}
.description .swiper-pagination-bullet {
  border: 1px solid rgb(0, 99, 71);
  opacity: 1;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.description .swiper-pagination-bullet-active {
  opacity: 1;
  border: 1px solid rgb(0, 99, 71);
  background: rgb(0, 99, 71);
}
.description .tab_top {
  gap: 100px;
  border-bottom: 1px solid rgb(225, 232, 233);
  margin-bottom: 60px;
}
.description .tab_navs .tab_navigation {
  display: flex;
  gap: 23px;
  margin-bottom: 35px;
}
.description .tab_navs .tab_navigation li a {
  color: rgb(135, 135, 135);
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
}
.description .tab_navs .tab_navigation li.active a {
  color: rgb(0, 99, 71);
}
.description .tab_content {
  display: none;
}
.description .tab_desc {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 45px;
}
.description .tab_ul_item {
  display: flex;
  list-style: disc;
  flex-direction: column;
}
.description .tab_ul_item li {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.description .tab_desc_item {
  display: none;
}
.description .tab_content_name {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.description .content_desc_block {
  gap: 18px;
}
.description .content_desc_block p {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.description .show_all {
  margin-top: 115px;
  color: rgb(0, 99, 71);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding-bottom: 13px;
  display: block;
  border-bottom: 1px solid rgb(225, 232, 233);
}
.description .tab_content:last-child {
  margin-bottom: 70px;
}

.partner {
  padding: 133px 0;
  margin-bottom: 130px;
  background: rgb(231, 233, 232);
}
.partner .partner_block {
  position: relative;
}
.partner .partner_logo {
  text-align: center;
  margin-bottom: 70px;
}
.partner .partner_title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  max-width: 760px;
  margin-bottom: 15px;
}
.partner .partner_desc {
  max-width: 760px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  max-width: 760px;
}
.partner .lighter_img {
  position: absolute;
  right: 0;
  z-index: 4;
  top: -125px;
}

.faq {
  padding: 130px;
}
.faq .faq_title {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.faq .faq_block {
  gap: 15px;
}
.faq .faq_block_item {
  flex: 1;
}
.faq .faq_item {
  flex: 1;
  padding: 20px 0;
}
.faq .faq_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(225, 232, 233);
  padding-bottom: 10px;
}
.faq .faq_top.active {
  padding-bottom: 0;
  border: none;
}
.faq .faq_name {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}
.faq .faq_arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(7, 97, 69);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 10px;
  background: rgb(225, 232, 233);
  width: 39px;
  height: 39px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all ease-in 0.2s;
  cursor: pointer;
}
.faq .faq_arrow:hover {
  background-color: #076145;
}
.faq .faq_arrow:hover span {
  color: #fff;
}
.faq .faq_arrow span {
  transition: all ease-in 0.2s;
}
.faq .faq_arrow span:last-child {
  display: none;
}
.faq .faq_arrow.active {
  border-radius: 10px 10px 0px 0px;
}
.faq .faq_arrow.active span:first-child {
  display: none;
}
.faq .faq_arrow.active span:last-child {
  display: block;
}
.faq .faq_body {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 18px 18px 50px 18px;
  border-radius: 10px 0px 10px 10px;
  background: rgb(225, 232, 233);
}
.faq .faq_body a {
  color: #076145;
  text-decoration: underline;
}

.contact {
  padding: 0 0 130px 0;
}
.contact .contact_block {
  gap: 30px;
  padding-top: 130px;
  border-top: 1px solid rgb(225, 232, 233);
}
.contact .contact_title {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.contact .contact_details_block {
  gap: 40px;
  margin-bottom: 50px;
}
.contact .contact_details_item {
  display: flex;
  gap: 12px;
}
.contact .detail_name {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.contact .detail_text {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.contact .detail_text a {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.contact .social_block {
  padding: 20px;
  border-radius: 10px;
  background: rgb(225, 232, 233);
}
.contact .social_name {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}
.contact .social_icons {
  gap: 7px;
}

footer .footer_top {
  padding-bottom: 35px;
  margin-bottom: 25px;
  border-bottom: 3px solid #006347;
}
footer .footer_position {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}
footer .footer_bottom_title {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}
footer .footer_tel {
  gap: 6px;
}
footer .footer_bottom {
  margin-bottom: 67px;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: " ";
  content: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

ul {
  list-style: none;
}

html::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #866f6c;
  width: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
}

.main_btn a {
  padding: 14px 40px;
  color: rgb(255, 255, 255);
  font-size: 17.38px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  border-radius: 86.9px;
  background: rgb(0, 99, 71);
}

.container {
  max-width: 1205px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1260px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}